#content-area{
    overflow: auto;
    width: 100%;
    background: black;
}

#filter{
    background: $grey;
    width: 29%;
    max-width: 300px;
    float: left;
    display: inline-block;


    .inside {
        padding: 20px;
        max-width: 300px;
    }

    h4{
        font-size: 0.9rem;
        margin-bottom: 25px;
        font-weight: 600px;
        margin-bottom: 25px;
        text-transform: uppercase;
    }



    select {
        background: transparent;
        padding: 10px;
        font-size: 14px;
        font-weight: 500;
        color: #1b1b1b;
        display: block;
        margin-bottom: 25px;
        width: 100%;
        
    }

    .filters{
        .title{
            font-size: .9rem;
            display: block;
            margin-bottom: 1rem;
            color: $darkGrey;
        }

        input[type="text"] {
            border-radius: 5px;
            font-size: 1rem;
            padding: 0.4rem;
            width: 45%;
            display: inline-block;
            margin-right: 2.5%;
            margin-bottom: 1rem;

        }
        &.extras{
            label {
                display: block;
                width: 100%;
                padding: 10px 0;

                input[type="checkbox"]{
                    float: right;
                }
            }
        }
    }
}





#listings{
    width: 68%;
    float: left;
    display: inline-block;
    padding: 15px;
    background:$offWhite;
    
    
    .search-area{
        input[type="text"] {
            width: 70%;
            background:transparent;
            font-size: 2rem;
            border: none;
            border-bottom: 2px solid $lightGrey;
            margin-bottom: 20px;
            color: $lightGrey;
        }
    }

    .sortby-area{
        margin-bottom: 20px;

        .results{
            font-size: 0.8rem;
            color: $lightGrey;
            display: inline-block;
            

        }

        .sort-options {
            float: right;

            select {
                font-size: 0.9rem;
                font-weight: 300;
                border: 1px solid $lightGrey;
                background: transparent;
                padding: 3px;
                display: inline-block;
                margin-right: 15px;
                vertical-align: top;
            }

            .view{
                display: inline-block;

                .fa{
                    margin-right: 15px;
                    font-size: 1.5rem;
                }
            }


        }
    }

    .listings-results{
        margin-bottom: 80px;
        .listing{
            background: #fff;
            width: 33.33%;
            -webkit-box-shadow: 0px 9px 54px -5px rgba(222,222,222,1);
            -moz-box-shadow: 0px 9px 54px -5px rgba(222,222,222,1);
            box-shadow: 0px 9px 54px -5px rgba(222,222,222,1);

        }

        .listing-img{
            color: white;
            padding: 15px;
            position: relative;
            background: url(https://cdnimages.familyhomeplans.com/plans/81902/81902-b600.jpg) no-repeat center center ; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            min-height: 200px;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;


            .details{
                padding: 20px;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                -webkit-border-top-left-radius: 5px;
                -webkit-border-top-right-radius: 5px;
                -moz-border-radius-topleft: 5px;
                -moz-border-radius-topright: 5px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d637d3+5,db31f9+33,ef70eb+54,ef70eb+54,ef70eb+61,ef70eb+73,ef70eb+83,ef70eb+91 */
                background: rgb(214,55,211); /* Old browsers */
                background: -moz-linear-gradient(-45deg, rgba(214,55,211,.8) 5%, rgba(219,49,249,.8) 33%, rgba(239,112,235,.8) 54%, rgba(239,112,235,.8) 54%, rgba(239,112,235,.8) 61%, rgba(239,112,235,.8) 73%, rgba(239,112,235,.8) 83%, rgba(239,112,235,.8) 91%); /* FF3.6-15 */
                background: -webkit-linear-gradient(-45deg, rgba(214,55,211,.8) 5%,rgba(219,49,249,.8) 33%,rgba(239,112,235,.8) 54%,rgba(239,112,235,.8) 54%,rgba(239,112,235,.8) 61%,rgba(239,112,235,.8) 73%,rgba(239,112,235,.8) 83%,rgba(239,112,235,.8) 91%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg, rgba(214,55,211,.8) 5%,rgba(219,49,249,.8) 33%,rgba(239,112,235,.8) 54%,rgba(239,112,235,.8) 54%,rgba(239,112,235,.8) 61%,rgba(239,112,235,.8) 73%,rgba(239,112,235,.8) 83%,rgba(239,112,235,.8) 91%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


                .user-img{
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    border: 2px solid white;
                    display: inline-block;
                    background: url(https://cdnimages.familyhomeplans.com/plans/81902/81902-b600.jpg) no-repeat center center ; 
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                }

                .user-details{
                    vertical-align: top;
                    display: inline-block;
                    width: 70%;
                    margin-left: 20px;

                    .user-name{
                        font-weight: 300;
                        font-size: 0.9rem;
                        display: block;
                        color: rgba(222,222,222,1);
                        margin-top: 3px;

                    }

                    .post-date{
                        display: block;
                        color: rgba(222,222,222,.6);

                    }
                }
            
            }
        
        }
    }
}