header{
    background: $darkPurple;
    color: white;
    padding: 20px 15px;
    overflow: auto;
    margin: 0px;
    

    .logo{
        float: left;
    }
    nav{
        float: right;

        a{
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            text-transform: capitalize;


            &:hover{
                color: $favColor;

            }

            &.register-btn{
                background: $favColor;
                padding: 7px 25px;
                text-align: center;
                color: white;
                border-radius: 5px;

            }
        }
    }
}